---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}

<h3 class="posts-item-note" aria-label="Turning Magazine Blog Contributions">Turning Magazine: Blog Contributions</h3>
<article class="post-item">
  <span class="post-item-date">{{ "2021-01-13" | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="https://www.turningmagazine.com/blog/2021/01/13/seeing-was-believing-part-1/">{{ "Seeing Was Believing: Part 1" | escape }}</a>
  </h4>
</article>

<article class="post-item">
  <span class="post-item-date">{{ "2020-12-02" | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="https://www.turningmagazine.com/blog/2020/12/02/a-post-pandemic-outlook-on-the-future-of-ai-research/">{{ "A Post-Pandemic Outlook on the Future of AI Research" | escape }}</a>
  </h4>
</article>

<article class="post-item">
  <span class="post-item-date">{{ "2020-04-22" | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="https://www.turningmagazine.com/blog/2020/04/22/neuromorphic-computing-future-of-ai/">{{ "Neuromorphic Computing: Future of AI?" | escape }}</a>
  </h4>
</article>

<article class="post-item">
  <span class="post-item-date">{{ "2020-01-01" | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="https://www.turningmagazine.com/blog/2020/01/01/understanding-the-importance-of-attachment-theory-in-social-robotics/">{{ "Understanding the Importance of Attachment Theory in Social Robotics" | escape }}</a>
  </h4>
</article>
